@page
@model CarRepair.Pages.Pages.Receptionist.RecievedCars
@{
    ViewData["Title"] = "RecievedCars";
    Layout="_ReceptionistLayout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-sm table-striped table-bordered">
        <thead>

            <tr>
                <th>Id</th>
                <th>Visit Time</th>
                <th>Issue</th>
                <th>RepairStatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repair in Model.Repairs)
            {
                <tr>
                    <td>@repair.Id</td>
                    <td>@repair.VisitDate </td>
                    <td>@repair.Issue.Description</td>
                    <td>@repair.CarStatus </td>
                </tr>
            }
        </tbody>
    </table>
</div>