@page
@model CarRepair.Pages.Pages.Admin.SendConfirm
@{
    ViewData["Title"] = "SendConfirm";
    Layout = "_TestLayout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>@Model.Repair.Id</h1>
    <form method="post">
        <input type="hidden" name="Repair.Id" value="@Model.Repair.Id">
        @* <input type="hidden" name="AppointmentId" value="@Model.RepairId"> *@
        <input type="hidden" name="Repair.VisitDate" value="@Model.Repair.VisitDate">
        <input type="hidden" name="Repair.UserId" value="@Model.Repair.UserId">
        <input type="hidden" name="Repair.IssueId" value="@Model.Repair.IssueId">
        <label for=""> user visit date @Model.Repair.VisitDate</label>
        <input type="text" placeholder="Price" name="Repair.Price">
        <input type="text" placeholder="Notes" name="Repair.WorkerNote">
        <label for=""> user expires confirm date</label>
        <input type="date" name="Repair.AcceptDate">
        <button type="submit">submit</button>
    </form>
</div>