@page
@model CarRepair.Pages.Pages.Receptionist.SendRejection
@{
    ViewData["Title"] = "SendRejection";
    Layout="_ReceptionistLayout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Send Rejection</h1>
    <h1>@Model.Repair.Id</h1>
    <form method="post">
        <input type="hidden" name="Repair.Id" value="@Model.Repair.Id">
        <input type="hidden" name="Repair.VisitDate" value="@Model.Repair.VisitDate">
        <input type="hidden" name="Repair.UserId" value="@Model.Repair.UserId">
        <input type="hidden" name="Repair.IssueId" value="@Model.Repair.IssueId">


        <label for=""> user visit date @Model.Repair.VisitDate</label>
        <textarea type="text" placeholder="Notes" name="Repair.WorkerNote"></textarea>
        <button type="submit">submit</button>
    </form>
</div>