@using CarRepair.Pages.Models
@using System.Security.Claims
@model Repair

@{
    // Get the user's ID from the ClaimsPrincipal
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<style>
    .table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 15px;
        min-width: 100%;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    table thead tr {
        color: #fff;
        background: #34AF6D;
        text-align: left;
        font-weight: bold;
    }

    .table th,
    .table td {
        padding: 12px 15px;
    }

    .table tbody tr {
        border-bottom: 1px solid #ddd;
    }

    .table tbody tr:nth-of-type(odd) {
        background: #f3f3f3;
    }

    .table tbody tr.active {
        font-weight: bold;
        color: #4AD489;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid #4AD489;
    }

    .table button {
        padding: 6px 20px;
        border-radius: 10px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #4AD489;
    }

    .table button:hover {
        background: #4AD489;
        color: #fff;
        transition: 0.5rem;
    }
</style>

<tr class="active">
    <td>@Model.Id</td>
    <td>@Model.VisitDate</td>



    <td>
        <button class="btn btn-primary" data-toggle="modal" data-target="#IssueModel-@Model.Id">Show Issue</button>
    </td>



</tr>

<!-- Bootstrap Modal -->
<div class="modal fade" id="IssueModel-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">

                        <h4 class="card-title col-10">Issue <small>@Model.User</small></h4>
                        <button type="button" class="close col-2 btn btn-primary" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <p class="card-description">
                        <small>@Model.VisitDate</small>
                    </p>
                    <p>
                        @Model.Issue!.Description
                    </p>
                </div>


            </div>
            <div class="modal-footer">
                @if (userId == Model.AssignedMechanicId)
                {
                    <form method="post">
                        <input type="hidden" value="@Model.Id" name="RepairId">
                        <button type="submit" class="btn btn-primary">Complete</button>
                    </form>
                }
                else
                {
                    <form method="post">
                        <input type="hidden" value="@Model.Id" name="RepairId">
                        <button type="submit" class="btn btn-primary">Get</button>
                    </form>
                }
            </div>
        </div>
    </div>

</div>