@page
@model CarRepair.Pages.Pages.Appointments.DisplayAppointments
@{
    ViewData["Title"] = "DisplayAppointments";
    Layout = "_TestLayout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-sm table-striped table-bordered">
        <thead>

            <tr>
                <th>Id</th>
                <th>Visit Time</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in @Model.appointments)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.VisitDate </td>
                    <td>@appointment.Issue.Description</td>
                    <td>
                        @* TODO: show the the Issue on a model popup *@
                        <button class="btn btn-primary">Show Issue</button>
                        @* TODO: put these two on the model *@
                        <a asp-area="" asp-page="SendConfirm" asp-route-appointmentId="@appointment.Id"
                            class="btn btn-primary">Accept</a>
                        <button class="btn btn-primary">Reject</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>