@page
@using CarRepair.Pages.Models
@model CarRepair.Pages.Pages.Employers.EmployerWorkspace
@{
    ViewData["Title"] = "EmployerWorkspace";
    Layout = "_TestLayout";
}

<h1>@ViewData["Title"]</h1>

<div>
   <table class="table table-sm table-striped table-bordered">
        <thead>

            <tr>
                <th>Id</th>
                <th>Visit Time</th>
                <th>status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var acknowledge in @Model.Acknowledges)
            {
                <tr>
                    <td>@acknowledge.Id</td>
                    <td>@acknowledge.VisitDate </td>
                    @* <td>@acknowledge.Issue.Description</td> *@
                    <td>
                        <form method="post" id="statusForm">
                            <select asp-for="@acknowledge.CarStatus" asp-items="Html.GetEnumSelectList<Status>()"
                                class="form-control">
                                <option value="">-- Set Status --</option>
                            </select>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table> 
</div>