@model Repair
@{
    ViewData["Title"] = "RepairDetail";
}



<h1>@Model.Id</h1>

<h3>@Model.User</h3>
<h5>@Model.Issue.Description</h5>

@if(@Model.AppointmentStatus == AppointmentStatus.NotSeen)
{
<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AcceptOrRefuse" asp-route-id="@Model.Id" asp-route-isAccept="true" >Accept</a>
<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AcceptOrRefuse" asp-route-id="@Model.Id" asp-route-isAccept="false">Reject</a>
}