@model List<Repair>
@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNumber = 0;
    if (ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }
}


<a class="btn btn-success p-2 mb-2" asp-area="" asp-controller="Appointments" asp-action="Send">Make Appointment</a>

<a class="btn btn-success p-2 mb-2" asp-area="" asp-controller="Appointments" asp-action="Index" asp-route-appointmentStatus="@AppointmentStatus.NotSeen">Not seen</a>

<a class="btn btn-success p-2 mb-2" asp-area="" asp-controller="Appointments" asp-action="Index" asp-route-appointmentStatus="@AppointmentStatus.Seen">Reply</a>

<a class="btn btn-success p-2 mb-2" asp-area="" asp-controller="Appointments" asp-action="Index" asp-route-appointmentStatus="@AppointmentStatus.Rejected">Rejected</a>

<a class="btn btn-success p-2 mb-2" asp-area="" asp-controller="Appointments" asp-action="Index" asp-route-appointmentStatus="@AppointmentStatus.Accept">Your Repairs Status</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Car Model</th>
            <th scope="col">Issue</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Repair repair in Model)
        {
            <tr>
                <th scope="row">@repair.Id</th>
                <td>@repair.VisitDate</td>
                <td>@repair.CarModel</td>
                <td>@repair.Issue.Description</td>
                <td>
                    @if(repair.AppointmentStatus == AppointmentStatus.NotSeen)
                    {
                        <partial name="Components/DeleteButton" model="@repair" />
                    }else if(repair.AppointmentStatus == AppointmentStatus.Seen)
                    {
                        <partial name="Components/AcceptButton" model="@repair" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagerPartial" model="@pager" />
