@model List<Repair>
@{
    ViewData["Title"] = "Reply";
}

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Car Model</th>
            <th scope="col">Issue</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Repair repair in Model)
        {
            <tr>
                <th scope="row">@repair.Id</th>
                <td>@repair.VisitDate</td>
                <td>@repair.CarModel</td>
                <td>@repair.Issue.Description</td>
                <td>
                    <form  method="post">
                        <input type="hidden" name="Id" value="@repair.Id" />
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>