@page
@model CarRepair.Pages.Pages.Users.SeenAppointments
@{
    ViewData["Title"] = "SeenAppointments";
    Layout = "_UserLayout";
}

<h1>@ViewData["Title"]</h1>


<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Visit Time</th>
                    <th>Price</th>
                    <th>Issue</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
                @* unaccepted repair called appointment *@
                @foreach (var appointment in Model.Repairs)
                {
                    <tr>
                        <td>@appointment.Id</td>
                        <td>@appointment.VisitDate </td>
                        <td>@appointment.Price </td>
                        <td>@appointment.Issue!.Description</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="RepairId" value="@appointment.Id">
                                <button type="submit" class="btn btn-primary">Accept</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>